body {
    font-family: 'Press Start 2P', cursive;
  }
.titl{
    text-shadow: 4px 2px 5px hsl(216, 84%, 54%);
}
/* .cotch{
  text-shadow: 4px 2px 5px hsl(215, 25%, 91%);
} */
.carosail{
  max-width: 30rem;
  overflow-x: auto;
  border-top: solid 2px white;
}

.Reserve{
  text-shadow: 4px 2px 5px hsl(215, 15%, 71%);
}
.carosail::-webkit-scrollbar{
  display: none;
}

.item{
  min-width: 5rem;
  height: 7rem;
  background-image: url('/img-fotball/carts-foutbal.png');
  background-size: contain;
  position: relative;
}
P{
  position: absolute;
  color: #fff;
  font-size: small;
  bottom: 0;
  right: 2rem;
  opacity: 0.8
}
.btn{
  position: absolute;
  color: #fffcfc;
  font-size: 4rem;
  bottom: 0.1rem;
  right: 1.5rem;
  opacity: 0.6;
}
.btn:hover{
  color: rgba(211, 239, 53, 0.769);
  bottom: 0.2rem;
}