body {
    font-family: 'Kanit', cursive;
  }
.titl{
    text-shadow: 4px 2px 5px hsl(216, 84%, 54%);
}

.carosail{
  max-width: auto;
  margin-top: 10px;

}

.Reserve{
  text-shadow: 4px 2px 5px hsl(215, 15%, 71%);
  justify-content: center;
}
.carosail::-webkit-scrollbar{
  display: none;
}

  /* border-bottom: solid 2px white; */


.item{
  min-width: 5rem;
  height: 7rem;
  background-image: url('/img-fotball/carts-foutbal.png');
  background-size: contain;
  position: relative;
}
P{
  position: absolute;
  color: #fff;
  font-size: small;
  bottom: 0;
  right: 2rem;
  opacity: 0.8
}
.btn{
  position: absolute;
  color: #fffcfc;
  font-size: 4rem;
  bottom: 0.1rem;
  right: 1.5rem;
  opacity: 0.6;
}
.btn:hover{
  color: rgba(211, 239, 53, 0.769);
  bottom: 0.2rem;
}
.backg-ajout{
  width: 630px;
  height: 360px;
  background: cover;
  background: no-repeat;
  background-size: contain;
  border-radius: 20px;
  border:solid 1px #fff;
  background-image: url("img-fotball/background-arg.jpg");
 
}
input ,.send ,select{
  border-radius: 8px;
}
